<div id="bodyWrapper">
  <div id="leftSidebar">
    <div id="firstRow">
      <div id="container">
        <div id="logo"></div>
        <p id="titleP">Dashboard</p>
      </div>
    </div>
    <div id="secondRow">
      <div id="container">
        <div id="profileImg"></div>
        <p id="emailP">hook3748@gmail.com</p>
      </div>
    </div>
    <div id="thirdRow">
      <div id="container">
        <p id="groupsP">GROUPS</p>
        <ul id="groupUl">
          <li class="group active"><div class="align">건설경영</div></li>
          <li class="group"><div class="align">건설사업관리</div></li>
          <li class="group"><div class="align">건축공간환경디자인</div></li>
          <li class="group"><div class="align">건축도시디자인</div></li>
          <li class="group"><div class="align">그린빌딩시스템</div></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="mainContent">
  <div>
</div>