<div id="bodyWrapper">
	<div id="headerWrapper">
		<a id="logoA" href="/"></a>
		<ul id="elementUl">
			<li class="element"><a href="#">도움말</a></li>
			<li class="element"><a href="#">제작의뢰하기</a></li>
			<li class="element"><a href="#">사례보기</a></li>
			<li class="element"><a href="/dashboard">로그인</a></li>
		</ul>
	</div>
	<div id="bannerWrapper">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img class="img">
		    </div>
				<div class="item">
		      <img class="img">
		    </div>
		    <div class="item">
		      <img class="img">
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
	<div id="caseWrapper">
		<h2>멤버북 이용 사례</h2>
		<p>원우들과 편하게 연락처를 공유하세요</p>
		<div id="caseContainer">
			<div class="row cases">
				<div class="col-xs-12 col-sm-8 col-md-8 case"><div class="img"></div></div>
				<div class="col-xs-12 col-sm-4 col-md-4 case"><div class="img"></div></div>
			</div>
			<div class="row cases">
				<div class="col-xs-12 col-sm-4 col-md-4 case"><div class="img"></div></div>
				<div class="col-xs-12 col-sm-4 col-md-4 case"><div class="img"></div></div>
				<div class="col-xs-12 col-sm-4 col-md-4 case"><div class="img"></div></div>
			</div>
		</div>
	</div>
	<div id="footerWrapper">
		<div id="footerContainer">
			<div id="logo"></div>
			<ul>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보 보호정책</a></li>
				<li><a href="#">문의하기</a></li>
			</ul>
			<p id="serviceNameP">멤버북</p>
			<dl>
				<dt>대표</dt><dd>안수찬</dd>
				<dt>사업자등록번호</dt><dd>110-20-98551</dd>
				<dt>영업소재지</dt><dd>서울시 서대문구 연희동 316-1번지 302호 멤버북</dd>
				<br />
				<br />
				<dt>통신판매업</dt><dd>2011-서울마포-0081</dd>
				<dt>전화</dt><dd>010-2220-5736</dd>
				<dt>이메일</dt><dd>contact@memberbook.com</dd>
			</dl>
		</div>
	</div>
</div>