@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 0;
	font-family: 'Nanum Gothic'
}

li {
	list-style: none;
}

a {
	color: #e6e6e6;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}