<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <%= stylesheet_link_tag    'product', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'product', 'data-turbolinks-track' => true %>
</body>
</html>